<% layout("/layouts/boilerplate") -%>

<section class="show-section">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2">
      <h1 class="mt-3"><%=listing.title%></h1>
      <div class="card border-0">
        <img
          src="<%=listing.image%>"
          class="card-img-top show-img object-fit-cover rounded-3"
          alt="..."
        />

        <!-- .toLocaleString("en-IN" -->
        <div class="card-body p-0">
          <!-- <h5 class="card-title mb-1"><%=listing.title%></h5> -->
          <p class="card-text lh-2"><%=listing.description%></p>
          <p class="card-text lh-2">&#8377; <%=listing.price%></p>
          <p class="card-text lh-2"><%=listing.location%></p>
          <p class="card-text lh-2"><%=listing.country%></p>
        </div>

        <div class="card-body d-flex gap-4 p-0 mt-3">
          <button class="btn btn-primary bg-black border-0">
            <a
              href="/listings/<%=listing.id%>/edit"
              class="card-link text-decoration-none text-white"
              >Edit</a
            >
          </button>
          <form
            method="POST"
            action="/listings/<%= listing.id %>?_method=DELETE"
          >
            <button class="btn btn-primary bg-red border-0">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <div class="ReviewForm col-lg-10 offset-lg-1 col-md-8 offset-md-2">
      <hr />
      <h1>Leave a Review</h1>
      <form
        method="POST"
        action="/listings/<%= listing.id %>/reviews"
        class="needs-validation"
        novalidate
      >
        <div>
          <label for="rating" class="form-label">Rating</label>
          <input
            id="rating"
            class="form-range"
            type="range"
            min="1"
            max="5"
            name="review[rating]"
          />
        </div>
        <div>
          <label for="comment" class="form-label">Comment</label>
          <textarea
            class="form-control"
            name="review[comment]"
            id="ratingComment"
            rows="3"
            placeholder="Drop a comment"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter some comments for reviews...
          </div>
        </div>
        <button class="btn btn-outline-dark mt-3">Submit</button>
      </form>
    </div>
    <div class="AllReviews col-lg-10 offset-lg-1 col-md-8 offset-md-2">
      <hr />
      <h1 class="text-center mb-5">All Reviews</h1>
      <div class="row">
        <% listing.reviews.forEach(review => { %>
        <div class="card col-5 ms-5 mb-3 shadow">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><%= review.rating %> Stars</p>
            <form
              method="post"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button class="btn btn-dark mt-3">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
