<% layout("/layouts/boilerplate") -%>

<section class="show-section">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2">
      <h1 class="mt-3"><%=listing.title%></h1>
      <div class="card border-0">
        <img
          src="<%=listing.image.imageUrl%>"
          class="card-img-top show-img object-fit-cover rounded-3"
          alt="..."
        />

        <!-- .toLocaleString("en-IN" -->
        <div class="card-body p-0">
          <!-- <h5 class="card-title mb-1"><%=listing.title%></h5> -->
          <p class="card-text fst-italic fs-6">
            <i>Owned by <%=listing.owner.username%></i>
          </p>
          <p class="card-text"><%=listing.description%></p>
          <p class="card-text">&#8377; <%=listing.price%></p>
          <p class="card-text"><%=listing.location%></p>
          <p class="card-text"><%=listing.country%></p>
        </div>
        <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
        <div class="card-body d-flex gap-4 p-0 mt-3">
          <button class="btn btn-primary bg-black border-0">
            <a
              href="/listings/<%=listing.id%>/edit"
              class="card-link text-decoration-none text-white"
              >Edit</a
            >
          </button>
          <form
            method="POST"
            action="/listings/<%= listing.id %>?_method=DELETE"
          >
            <button class="btn btn-primary bg-red border-0">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
    <% if(currentUser) { %>
    <div class="ReviewForm col-lg-10 offset-lg-1 col-md-8 offset-md-2 mb-2">
      <hr />
      <h1>Leave a Review</h1>
      <form
        method="POST"
        action="/listings/<%= listing.id %>/reviews"
        class="needs-validation"
        novalidate
      >
        <!-- <div>
          <input
          id="rating"
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          />
        </div> -->
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-heartbeat">
          <!-- <legend>First rating:</legend> -->
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div>
          <label for="comment" class="form-label">Comment</label>
          <textarea
            class="form-control"
            name="review[comment]"
            id="ratingComment"
            rows="3"
            placeholder="Drop a comment"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter some comments for reviews...
          </div>
        </div>
        <button class="btn btn-outline-dark mt-3">Submit</button>
      </form>
    </div>
    <% } %> <% if(listing.reviews.length){ %>
    <div class="AllReviews col-lg-10 offset-lg-1 col-md-8 offset-md-2 mb-2">
      <hr />
      <h3 class="text-center mb-4">All Reviews</h3>
      <div class="row">
        <% listing.reviews.forEach(review => { %>
        <div class="card col-5 ms-5 mb-3 shadow">
          <div class="card-body">
            <h5 class="card-title"><%= review.author.username %></h5>
            <p
              class="starability-result"
              data-rating="<%= review.rating %>"
            ></p>

            <p class="card-text"><%= review.comment %></p>
            <form
              method="post"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button class="btn btn-dark mt-3">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
      <hr />
    </div>
    <% } %>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 mb-5">
      <h3 class="text-center mb-3">Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>
</section>

<!-- <script>
  const listingData = <%- JSON.stringify({
    lat: listing.geometry.lat,
    lng: listing.geometry.lng,
    location: listing.location
  }) %>;
</script> -->

<script src="/js/map.js"></script>
